
#scp{
    color: rgb(247, 116, 28); 
    margin-right: 10px;
}


.footer
{
  background-color: white;
  text-align: center;
  color: rgb(247, 116, 28);
}

img
{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
 #scp{
    display: none;
    }
  
}
/*end of media 600px*/


.content
{
  padding-top: 3%;
  border-radius: 5px;
  margin-bottom: 3%;
    width: 94%;
    margin-left: 3%;
    background-color: white;
}
h1
{
  font-family: sans-serif;
  color: white;
  min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
 /* text-shadow: 2px 2px rgb(247, 116, 28);*/
}



h4
{
  font-family: 'Barlow', sans-serif;
  margin-left: 2.5%;

}
p
{

  font-family: 'Ubuntu', sans-serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
li
{
  font-family: 'Ubuntu', sans-serif;
}


  #current
  {
    color: rgb(247, 116, 28);

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-item:hover 
  {
      background-color: rgb(247, 116, 28, 0.603);
      color: rgb(255, 253, 253);
  }
  






